<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epoch.Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
    <style>
        html,body { background: url(https://get.pxhere.com/photo/nature-mountain-snow-cloud-sky-sunlight-cloudy-hill-mountain-range-weather-darkness-overcast-summit-grey-alps-plateau-landform-meteorological-phenomenon-geographical-feature-atmospheric-phenomenon-mountainous-landforms-1389004.jpg); 
                    background-size: 100%;         	
                    background-attachment: fixed}
        
        .sectionscroll { height: 800px; overflow-y: scroll;}
        .sectionscroll::-webkit-scrollbar {display: none;}
      </style>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><h1><b href="#" class="nav-link px-2 text-white">Epoch.Weather</b></h1></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    {{ form.name }}
                                </div>
                                <div class="control">
                                    <button class="button btn-warning">
                                        Add City
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionscroll">
            <div class="container">
                <div class="columns" >
                    <div class="column is-offset-4 is-4">
                        {% for weather in weather_data %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ weather.city }}</span>
                                            <br>
                                            <span class="subtitle">{{ weather.temperature }}°</span>
                                            <br> {{ weather.description }}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
</body>
</html>
